<%= form_for @setlist_item, :url => setlist_setlist_items_path do |f| %>

  <p>
    <%= f.label 'Song Chosen:' %>
    <%= f.text_field :title, :readonly => true %>
  </p>

  <p>
    <%= f.label 'Key:' %>
    <%= f.select :key, [
      ['C major / A minor', 'C'],
      ['Db major / Bb minor', 'Db'],
      ['D major / B minor', 'D'],
      ['Eb major / C minor', 'Eb'],
      ['E major / C# minor', 'E'],
      ['F major / D minor', 'F'],
      ['Gb major / Eb minor', 'Gb'],
      ['G major / E minor', 'G'],
      ['Ab major / F minor', 'Ab'],
      ['A major / F# minor', 'A'],
      ['Bb major / G minor', 'Bb'],
      ['B major / G# minor', 'B'],
    ] %>
  </p>

  <%= f.hidden_field :song_id %>
  <%= f.hidden_field :artist %>

  <p>
    <%= f.submit 'Add Song to Setlist' %>
  </p>
<% end %>

<% if @setlist_item.errors.any? %>
  <h1>Error</h1>

  <ul>
    <% for error_message in @setlist_item.errors.full_messages %>
      <li>
        <%= error_message %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr />

<%= form_tag api_search_songs_path, :method => 'post', :remote => true, :id => 'find_song' do %>
  <%= label_tag :query, 'Find by title:' %>
  <%= text_field_tag :query, '', :autocomplete => 'off' %>
  <%= submit_tag 'Search' %>
<% end %>

<div id="results"></div>
