<h1>Admin</h1>

<h2>Users</h2>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <th>
      Email
    </th>

    <th>
      Role
    </th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>

      <td>
        <%= user.username %>
      </td>

      <td>
        <%= user.email %>
      </td>

      <td>
        <%= form_for user,
          :url => {:controller => 'admin', :action => 'reassign_role'},
          :method => 'post' do |f|
        %>
          <%= f.select :role, [['User', 'user'], ['Editor', 'editor'], ['Admin', 'admin']] %>
          <%= f.hidden_field :id, :value => user.id %>
          <%= f.submit 'Reassign Role' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Available Roles</h2>

<ul>
  <li><strong>User:</strong> can only view songs</li>
  <li><strong>Editor:</strong> can view, edit, and create songs</li>
  <li><strong>Admin:</strong> has all the powerz!</li>
</ul>
