<div class="header">
  <h1>Admin</h1>
  <h2>Here there be dragons</h2>
</div>

<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <h2>Users</h2>

      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>

        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>

            <td>
              <%= user.username %>
            </td>

            <td>
              <%= user.email %>
            </td>

            <td>
              <%= form_for user,
                :url => {
                  :controller => 'admin',
                  :action => 'reassign_role'
                },
                :html => {
                  :class => 'pure-form'
                },
                :method => 'post' do |f|
              %>
                <%= f.select :role, [
                  ['User', 'user'],
                  ['Editor', 'editor'],
                  ['Admin', 'admin']
                ] %>
                <%= f.hidden_field :id, :value => user.id %>

                <%= f.submit 'Reassign Role', :class => 'pure-button pure-button-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
