<%= form_for @setlist do |f| %>
  <div class="block">
    <% if @setlist.new_record? %>
      <%= link_to 'Back to Setlists', setlists_path, class: 'button' %>
    <% else %>
      <%= link_to 'Back to Setlist', setlist_path(@setlist), class: 'button' %>
    <% end %>
  </div>

  <% if @setlist.errors.any? %>
    <div class="message is-danger">
      <div class="message-body">
        <h2>Something went wrong:</h2>
        <ul>
          <% for error_message in @setlist.errors.full_messages %>
            <li>
              <%= error_message %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: 'label' %>
    <div class="control">
      <%= f.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :notes, class: 'label' %>
    <div class="control">
      <%= f.text_area :notes, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= f.submit class: 'button is-primary' %>
    <% if !@setlist.new_record? %>
      <%= link_to 'Delete Setlist', setlist_path(@setlist),
        method: 'delete',
        class: 'button is-danger is-outlined',
        data: { confirm: "Are you sure you want to delete '#{@setlist.title}'?" }
      %>
    <% end %>
  </div>
<% end %>
