<%= form_for @setlist do |f| %>
  <% if @setlist.new_record? %>
    <%= link_to 'Back to Setlists', setlists_path, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Back to Setlist', setlist_path(@setlist), class: 'btn btn-primary' %>
  <% end %>

  <% if @setlist.errors.any? %>
    <h2>Something went wrong:</h2>

    <ul>
      <% for error_message in @setlist.errors.full_messages %>
        <li>
          <%= error_message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: 'form-label' %>
    <%= f.text_area :notes, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

  <% if !@setlist.new_record? %>
    <%= link_to 'Delete Setlist', setlist_path(@setlist),
      method: 'delete',
      class: 'btn btn-error',
      data: { confirm: "Are you sure you want to delete '#{@setlist.title}'?" }
    %>
  <% end %>
<% end %>
