<%= form_for @setlist, :html => {:class => 'pure-form pure-form-stacked sd-form'} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => 'Title' %>

  <%= f.label :date %>
  <%= f.date_field :date %>


  <%= f.label :notes %>
  <%= f.text_area :notes, :id => 'setlist_notes_input' %>

  <p>
    <%= f.submit :class => 'pure-button pure-button-primary' %>
  </p>
<% end %>

<% if @setlist.errors.any? %>
  <h1>Error</h1>

  <ul>
    <% for error_message in @setlist.errors.full_messages %>
      <li>
        <%= error_message %>
      </li>
    <% end %>
  </ul>
<% end %>
