<div class="header">
  <h1>Edit Setlist Items</h1>
</div>

<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <%= link_to 'Add Song', setlist_add_items_path, :class => 'pure-button pure-button-primary' %>
    </div>

    <div class="pure-u-1-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>
              Key
            </th>

            <th>
              Song
            </th>

            <th>
              Remove
            </th>
          </tr>
        </thead>

        <tbody id="setlist_item_rearrange">
          <% @setlist_items.each do |song| %>
            <tr data-position="<%= song.position %>" data-id="<%= song.id %>">
              <td>
                <%= form_tag setlist_change_item_key_path, :class => 'pure-form' do %>
                  <%= hidden_field_tag :setlist_item_id, song.id %>
                  <%= select_tag(:key, options_for_select([
                    ['C major / A minor', 'C'],
                    ['Db major / Bb minor', 'Db'],
                    ['D major / B minor', 'D'],
                    ['Eb major / C minor', 'Eb'],
                    ['E major / C# minor', 'E'],
                    ['F major / D minor', 'F'],
                    ['Gb major / Eb minor', 'Gb'],
                    ['G major / E minor', 'G'],
                    ['Ab major / F minor', 'Ab'],
                    ['A major / F# minor', 'A'],
                    ['Bb major / G minor', 'Bb'],
                    ['B major / G# minor', 'B'],
                  ], song.key), :onchange => 'this.form.submit()') %>
                <% end %>
              </td>

              <td>
                <%= song.full_name %>
              </td>

              <td>
                <%= link_to 'Remove',
                  setlist_items_path(:setlist_id => @setlist.id, :id => song.id),
                  :method => 'delete',
                  :class => 'pure-button pure-button-primary',
                  :data => {
                    :confirm =>
                      "Are you sure you want to remove \"#{song.title}\" from the setlist?"
                  }
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="pure-u-1-1">
      <%= link_to 'Back to Setlist', setlist_path(@setlist),
        :class => 'pure-button pure-button-primary'
      %>

      <span style="display: none;" id="setlist_items_rearrange_button">
        <div class="pure-button pure-button-primary">
          Save Song Order
        </div>
      </span>
    </div>
  </div>
</div>

