<% content_for(:title, 'Setlists') %>

<div class="block is-pulled-right">
  <%= link_to 'New Setlist', new_setlist_path, class: 'button is-primary' %>
</div>

<table class="table is-fullwidth">
  <thead>
    <tr>
        <th>Name</th>
        <th>Notes</th>
        <th>Created</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @setlists.each do |setlist| %>
      <tr>
        <td><%= setlist.decorate(:title) %></td>
        <td><%= setlist.decorate(:notes) %></td>
        <td><%= setlist.decorate(:created_at_ago) %></td>
        <td><%= link_to 'View', setlist_path(setlist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
