<% content_for(:title, 'Home') %>

<div class="columns">
  <div class="column">
    <div class="is-pulled-right">
      <%= render 'songs/search' %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <aside class="menu">
      <p class="menu-label">Frequently Played</p>
      <ul class="menu-list">
        <% @top_songs.each do |song| %>
          <li>
            <%= link_to song do %>
              <div class="level">
                <div class="level-item"><%= song.title %></div>
                <div class="level-item has-text-weight-bold"><%= song.artist %></div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </aside>
  </div>

  <div class="column">
    <asice class="menu">
      <p class="menu-label">New</p>
      <ul class="menu-list">
        <% @new_songs.each do |song| %>
          <li>
            <%= link_to song do %>
              <div class="level">
                <div class="level-item"><%= song.title %></div>
                <div class="level-item has-text-weight-bold"><%= song.artist %></div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </aside>
  </div>
</div>
