<% content_for(:title, 'Home') %>

<div class="columns">
  <div class="column">
    <div style="text-align: center;">
      <%= render 'songs/search' %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <h2>Most Popular</h2>

    <ul class="menu">
      <% @top_songs.each do |song| %>
        <li class="menu-item">
          <%= link_to song do %>
            <%= song.title %>
            <span style="float: right;">
              <strong><%= song.artist %></strong>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <h2>New</h2>

    <ul class="menu">
      <% @new_songs.each do |song| %>
        <li class="menu-item">
          <%= link_to song do %>
            <%= song.title %>
            <span style="float: right;">
              <strong><%= song.artist %></strong>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
