<h1>Home</h1>

<% if @current_user.is_editor? %>
  <p>
    <%= link_to 'Create Song', new_song_path %> |
    <%= link_to 'Create Setlist', new_setlist_path %>
  </p>
<% end %>

<p>
  <h2>Find a Song</h2>

  <%= form_tag songs_path, :method => 'get' do %>
    <%= text_field_tag :query, '', :autocomplete => 'off' %>
    <%= submit_tag 'Search' %>
  <% end %>
</p>

<p>
  <h2>Top Songs</h2>

  <ol>
    <% @top_songs.each do |song| %>
      <li>
        <%= link_to "#{song.artist} - #{song.title}", song %> - <%= pluralize song.views, 'view' %>
      </li>
    <% end %>
  </ol>
</p>
