<% content_for(:title, 'Settings') %>

<div class="columns">
  <div class="column is-one-third">
    <%= form_for current_user, url: settings_path do |f| %>
      <div class="field">
        <%= f.label :username, class: 'label' %>
        <div class="control">
          <%= f.text_field :username, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :first_name, class: 'label' %>
        <div class="control">
          <%= f.text_field :first_name, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :last_name, class: 'label' %>
        <div class="control">
          <%= f.text_field :last_name, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.submit 'Update Settings', class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</div>
