<% content_for(:title, 'Settings') %>

<div class="columns">
  <div class="column col-4">
    <%= form_for current_user, url: settings_path do |f| %>
      <div class="form-group">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-input' %>
      </div>

      <div class="form-group">
        <%= f.label :first_name, class: 'form-label' %>
        <%= f.text_field :first_name, class: 'form-input' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: 'form-label' %>
        <%= f.text_field :last_name, class: 'form-input' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Update Settings', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
