<%= form_for @song do |f| %>
  <p>
    <%= f.label :artist %>
    <br />
    <%= f.text_field :artist %>
  </p>

  <p>
    <%= f.label :title %>
    <br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label 'Key:' %>
    <%= f.select :key, [
      ['C major / A minor', 'C'],
      ['Db major / Bb minor', 'Db'],
      ['D major / B minor', 'D'],
      ['Eb major / C minor', 'Eb'],
      ['E major / C# minor', 'E'],
      ['F major / D minor', 'F'],
      ['Gb major / Eb minor', 'Gb'],
      ['G major / E minor', 'G'],
      ['Ab major / F minor', 'Ab'],
      ['A major / F# minor', 'A'],
      ['Bb major / G minor', 'Bb'],
      ['B major / G# minor', 'B'],
    ] %>
  </p>

  <p>
    <%= f.label 'Song' %>
    <br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<% if @song.errors.any? %>
  <h1>Error</h1>

  <ul>
    <% for error_message in @song.errors.full_messages %>
      <li>
        <%= error_message %>
      </li>
    <% end %>
  </ul>
<% end %>
