<div class="pure-g">
  <div class="pure-u-1-1">
    <%= form_for @song, :html => {:class => 'pure-form pure-form-stacked medium-form'} do |f| %>
      <%= f.label :artist %>
      <%= f.text_field :artist, :placeholder => 'Artist' %>

      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => 'Title' %>

      <%= f.label :youtube_url, 'YouTube URL' %>
      <%= f.text_field :youtube_url,
        :autocomplete => 'off',
        :placeholder => 'youtube.com/watch?v=123456789'
      %>

      <%= f.label :key %>
      <%= f.select :key, [
        ['C major / A minor', 'C'],
        ['Db major / Bb minor', 'Db'],
        ['D major / B minor', 'D'],
        ['Eb major / C minor', 'Eb'],
        ['E major / C# minor', 'E'],
        ['F major / D minor', 'F'],
        ['Gb major / Eb minor', 'Gb'],
        ['G major / E minor', 'G'],
        ['Ab major / F minor', 'Ab'],
        ['A major / F# minor', 'A'],
        ['Bb major / G minor', 'Bb'],
        ['B major / G# minor', 'B'],
      ] %>

      <%= f.label :song %>
      <%= f.text_area :content,
        :autocomplete => 'off',
        :class => 'songdown-editor'
      %>

      <p>
        Don't know what this is?
        <%= link_to 'Click here', help_songdown_syntax_path, :class => 'fancy-link', :target => '_blank' %>.
      </p>

      <p>
        <%= f.submit :class => 'pure-button pure-button-primary' %>
      </p>
    <% end %>
  </div>

  <div class="pure-u-1-2">
    <% if @song.errors.any? %>
      <h1>Error</h1>

      <ul>
        <% for error_message in @song.errors.full_messages %>
          <li>
            <%= error_message %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
