<% content_for(:title, @song.decorate(:name)) %>

<div class="columns">
  <div class="column is-9" id="youtube-video">
    <%= embed_youtube(@song.youtube_url) %>
  </div>

  <div class="column is-3">
    <div class="block">
      <%= link_to 'Edit Song', edit_song_path(@song), class: 'button is-primary' %>

      <span id="print_song_button" class="button">
        Print Song
      </span>
    </div>

    <div class="block">
      <%= form_for @song, method: :get do |f| %>

        <div class="field">
          <%= f.label :key, class: 'label' %>

          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%=
                select_tag(
                  :key,
                  options_for_select(song_keys, @song.key),
                  onchange: %q!this.form.querySelector('input[type="submit"]').click()!,
                  class: 'form-select'
                )
              %>
            </div>
          </div>
        </div>

        <%= f.submit hidden: true %>
      <% end %>
    </div>

    <div class="block">
      <strong>Views:</strong> <%= @song.views %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= @song_html.html_safe %>
  </div>
</div>
