<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h1 class="is-size-3 pb-2">Log in</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: 'label' %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password, class: 'label' %>
          <div class="control">
            <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <%= f.hidden_field :remember_me, value: true %>
        <% end %>

        <div class="field">
          <%= f.submit "Log in", class: 'button is-primary' %>
        </div>

        <div class="field">
          Don't have an account? <%= link_to 'Register today', new_user_registration_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
