<% if user_signed_in? %>
  <header class="navbar">
    <div class="dropdown">
      <a class="btn btn-primary dropdown-toggle" tabindex="0" style="border-bottom-right-radius: 10px;">
        Songdown <i class="icon icon-caret"></i>
      </a>
      <ul class="menu">
        <li class="menu-item"><%= link_to 'Home', home_path %></li>
        <li class="menu-item"><%= link_to 'Songs', songs_path %></li>
        <li class="menu-item"><%= link_to 'Setlists', setlists_path %></li>
        <li class="menu-item"><%= link_to 'Settings', settings_path %></li>
        <li class="menu-item"><%= link_to 'About', about_path %></li>
        <li class="menu-item"><%= link_to 'Help', help_path %></li>
        <li class="menu-item"><%= link_to 'Logout', destroy_session_path(current_user), method: :delete %></li>
      </ul>
    </div>
  </header>
<% end %>
