<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Songdown</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable Turbolinks caching because it looks weird to me. No other reason. Really. -->
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= growlyflash_static_notices %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Mono',
      'data-turbolinks-track' => true
    %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'side-menu', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="layout">
      <%= render 'layouts/menu'%>

      <div id="main">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
