<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= [yield(:title), 'Songdown'].filter(&:present?).join(' | ') %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable Turbolinks caching -->
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Mono' %>
    <%= stylesheet_link_tag 'https://unpkg.com/spectre.css/dist/spectre.min.css' %>
    <%= stylesheet_link_tag 'https://unpkg.com/spectre.css/dist/spectre-icons.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/menu'%>

    <div class="container grid-lg">
      <div class="columns">
        <div class="column">
          <h1 class="title"><%= yield :title %></h1>
          <hr />
        </div>
      </div>

      <% if notice %>
        <div class="toast toast-success">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="toast toast-warning">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
