<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Songdown</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable Turbolinks caching -->
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Mono' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://unpkg.com/lodash@4.17.15/lodash.min.js' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="layout">
      <%= render 'layouts/noscript_warning' %>
      <%= render 'layouts/menu'%>

      <% if notice %>
        <div>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div>
          <%= alert %>
        </div>
      <% end %>

      <div id="main">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
