<!DOCTYPE html>

<html lang="en">
<head>
  <title>Songdown</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <% if @current_user %>
    <p>
      Hi

      <%= @current_user.username %> |
      <%= link_to 'Home', home_path %> |
      <%= link_to 'Songs', songs_path %> |
      <% if @current_user.is_editor? %>
        <%= link_to 'Setlists', setlists_path %> |
      <% end %>
      <%= link_to 'Settings', settings_path %> |
      <% if @current_user.is_admin? %>
        <%= link_to 'Admin', admin_path %> |
      <% end %>
      <%= link_to 'Log out', logout_path %>
    </p>
  <% end %>

  <% flash.each do |name, message| %>
    <%= content_tag :div, message, :class => name %>
  <% end %>

  <%= yield %>

</body>
</html>
