<!DOCTYPE html>

<html lang="en">
<head>
  <title>Songdown</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="layout">
    <div id="main">
      <!-- I don't know what the fuck to do with this -->
      <p>
        <% flash.each do |name, message| %>
          <%= content_tag :div, message, :class => name %>
        <% end %>
      </p>

      <%= yield %>
    </div>
  </div>
</body>
</html>
